
# reCAPTCHA v3 keys
RECAPTCHA_SITE_KEY=6LcLVCsrAAAAAKnCWp2mgZJjgWe_J6I9T2z2dc8j
RECAPTCHA_SECRET_KEY=6LcLVCsrAAAAAPOm46sv2AUq2_B-qDd3hgB00nSw

# Webhook URL
WEBHOOK_URL=https://neverbend007.app.n8n.cloud/webhook/7f7508e9-05aa-41f2-af96-fab75718c049
WEBHOOK_USERNAME=newIntakeForm
WEBHOOK_PASSWORD=qawsedrftgyhujikol
