
# reCAPTCHA v3 keys
RECAPTCHA_SITE_KEY=your_recaptcha_site_key_here
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key_here

# Webhook URL
WEBHOOK_URL=https://neverbend007.app.n8n.cloud/webhook/7f7508e9-05aa-41f2-af96-fab75718c049
WEBHOOK_USERNAME=newIntakeForm
WEBHOOK_PASSWORD=qawsedrftgyhujikol

